@charset "UTF-8";
/* CSS Document */

/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
	font-family: 'Montserrat', sans-serif !important;
	margin: 0;
}

.content {
	/* Ajuste o padding conforme necessário para evitar que o conteúdo seja sobreposto pelo botão flutuante */
	padding: 20px;
}

.floating-button {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: transparent; /* Modificado para background transparente */
	padding: 10px;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.floating-button:hover {
	background-color: rgba(37, 211, 102, 0.7); /* Adicione uma cor de fundo ao passar o mouse */
}

.floating-button img {
	width: 150px;
	height: auto;
	display: block;
}

/* Adicione esta seção de estilo para a animação fadeIn */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}


/* Adicione regras para atraso de cada parágrafo */
.principal p {
	animation: fadeIn 1s ease-in-out forwards;
	color: rgb(250, 212, 0);
	display: flex;
	align-items: center;
}

.principal p svg {
	margin-right: 10px;
	width: 20px;
	height: 20px;
	color: #00b4fc;
}

/* Adicione estilos específicos para cada parágrafo */
.principal p.delay-2 {
	animation-delay: 2s;
}

.principal p.delay-3 {
	animation-delay: 3s;
}

.principal p.delay-4 {
	animation-delay: 4s;
}

.principal p.delay-5 {
	animation-delay: 5s;
}

.principal p.delay-6 {
	animation-delay: 6s;
}

.principal p.delay-7 {
	animation-delay: 7s;
}

.principal p.delay-8 {
	animation-delay: 8s;
}

.principal p.delay-9 {
	animation-delay: 9s;
}

.principal p.delay-10 {
	animation-delay: 10s;
}
  
 
  
/* LOGO M.R PARTE DE CIMA */
header.header {
    background: #030b4e;
    padding: px 0;
}
img.logo {
    clear: both;
    display: block;
    width: 300px;
    margin: 0 auto;
}
/* Header */

/* Desvendando o Marketing! */
section.principal {
	padding: 20px 0;
	background: #030b4e;
}
section.principal h1 {
	color: #525c67;
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 10px 0;
}
section.principal h2 {
	color: #c95e90;
	font-size: 26px;
	font-weight: 500;
	margin: 0 0 10px 0;
}

section.principal p {
	color: #007afc;
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0;
}
a.cta {
	background: #00AC69;
	clear: both;
	display: block;
	padding: 23px 0;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	width: 90%;
	margin: 30px 60px 10px auto;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;	
}
a.cta:hover {
	color: #ffffff;
	background: #048251;
}
section.principal span {
	clear: both;
	display: block;
	text-align: center;
	color: #525c67;
	margin-right:50px
}
img.potes-principal {
    clear: both;
    display: block;
    width: 100%;
    margin: 30px 0;
}
.pulsar {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse{
0%,100%{transform:scale(.9);opacity:.9;}
50%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes pulse{
0%,100%{-webkit-transform:scale(.95);opacity:.7}
50%{-webkit-transform:scale(1);opacity:1}
}
@-webkit-keyframes bounce {
    from { }
    to { -webkit-transform: translateY(-10px); }
}
@-moz-keyframes bounce { 
    from { }
    to { -moz-transform: translateY(-10px); }
}
@-ms-keyframes bounce { 
    from { }
    to { -ms-transform: translateY(-10px); }
}
@-o-keyframes bounce { 
    from { }
    to { -o-transform: translateY(-10px); }
}
@keyframes bounce { 
    from { }
    to { transform: translateY(-10px); }
}
.bounce {
	-webkit-animation: bounce .4s ease infinite alternate;
	-moz-animation: bounce .4s ease infinite alternate;
	-ms-animation: bounce .4s ease infinite alternate;
	-o-animation: bounce .4s ease infinite alternate;
	animation: bounce .4s ease infinite alternate;
}
/* Desvendando o Marketing! */

/* Qualidades do livro*/
section.poder {
    background: #063386;
    padding: 75px 0;
}

section.poder h1 {
    color: #525c67;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 10px 0;
}

section.poder h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 50px 0;
}

.poder-item {
    margin-bottom: 50px;
}

img.icon-poder {
    clear: both;
    display: block;
    width: 800%; /* Alterei para 100% para ocupar a largura total da coluna */
    height: auto; /* Mantém a proporção original da imagem */
    margin: 0 auto 10px auto;
}

.bold-text {
    font-weight: bold;
}

section.poder h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 10px 0;
}

section.poder p {
    text-align: center;
    margin: 0;
    color: #000000;
}

a.cta-poder {
    width: 45%;
    margin: 0 auto 10px auto;
}

img.garantia-poder {
    clear: both;
    display: block;
    width: 25%;
    margin: 0 auto 10px auto;
}
/* Qualidades do livro */

/* FAQ */
section.faq { 
	background: #030b4e;
    padding: 75px 0;
}
section.faq h1 { 
    color: #000000;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 50px 0;
}
section.faq h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: -30px 0 30px 0;
}
.faq-item {
    clear: both;
    display: block;
    overflow: hidden;
	margin: 0 0 10px 0;
}
.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
	border: none;
	position: relative;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    clear: both;
    display: block;
    padding: 20px 20px 30px 20px;
    background: #afafa;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
}
button.accordion svg {
    margin-top: -5px;
}
.panel {
	
    padding: 0 25px;
    background: #ffffff;
    color: #000000;
    max-height: 0;
    margin-top: -12px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {
    margin: 25px 0;
}
a.cta-faq {
	width: 45%;
	margin:  30px auto 15px auto;
}
/* FAQ */

/* WhatsApp */
section.whatsapp {background: #063386;
    padding: 75px 0;
}
section.whatsapp h1 {
    color: #000000;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px 0;
}
img.icon-wpp {
    clear: both;
    display: block;
    width: 8%;
    margin: 0 auto 50px auto;
}
section.whatsapp p {
	text-align: center;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
}
section.whatsapp h2 {
	text-align: center;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	margin-top:50px;
}
a.cta-whatsapp {
    width: 40%;
    margin: 50px auto 20px auto;
}
section.whatsapp span {
	clear: both;
	display: block;
	text-align: center;
	color: #ffffff;
	margin: 15px auto 0 auto;
}
/* WhatsApp */

/* rodapé */
footer.footer { 
	padding: 50px 0;
	background: #030b4e;
}
img.logo-ft {
    clear: both;
    display: block;
	width: 80%;
    margin: 0 auto 30px auto;
}
img.nao-testado-animais {
    clear: both;
    display: block;
	width: 80%;
    margin: 0 auto;
}
footer.footer h1 { 

	clear: both;
	display: block;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 0 10px 0;
}
a.link-ft {
    clear: both;
    display: block;
    margin: 0 0 10px 0;
	color: #ffffff;
}
a.link-ft:hover {
	color: #FFFFFF;
}
img.correios {
	width:80%;
	clear: both;
	display: block;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;	
}
img.formas-pagamento {
	clear: both;
	display: block;
	width: 80%;
}
img.compra-segura {
	clear: both;
	display: block;
	width: 80%;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;	
}
/* rodapé */

/* Responsivo */
@media (max-width: 800px) {
	img.logo {
		width: 150px;
	}
	/* Principal */
	section.principal, section.poder {
		padding: 50px 0;
	}
	section.principal h1 {
		font-size: 22px;
	}
	section.principal h2 {
		font-size: 18px;
	}
	section.principal p {
		font-size: 14px;
	}
	a.cta {
		width: 100%;
		font-size: 20px;
		padding: 10px;
	}
	section.principal span {
		font-size: 11px;
		margin-left:50px;
	}
	/* Principal */
	
	/* Faq */
	section.faq { background: #285fb3;
		padding: 50px 0;
	}
	section.faq h1 {
		
		font-size: 22px;
		margin: 0 0 30px 0;
	}
	/* Faq */
	
	/* Whatsapp */
	section.whatsapp { 
		
		padding: 50px 0;
	}
	img.icon-wpp {
		width: 20%;
		margin: 0 auto 30px auto;
	}
	section.whatsapp h1 { 
		font-size: 22px;
	}
	section.whatsapp span {
		font-size: 14px;
	}
	/* Whatsapp */
	
	/* Rodapé */
	img.logo-ft {
		
		width: 50%;
	}
	img.nao-testado-animais {
		width: 50%;
		margin-bottom: 30px;
	}
	footer.footer h1 {
		
		text-align: center;
	}
	a.link-ft {
		clear: both;
		display: block;
		text-align: center;
		margin: 0 0 20px 0;
	}
	img.formas-pagamento {
		clear: both;
		display: block;
		width: 50%;
		margin: 30px auto;
	}
	img.compra-segura {
		width: 50%;
		margin: 0 auto;
	}
	img.correios {
		width: 50%;
		margin: 0 auto 20px; /* Mantém a margem inferior original e centraliza horizontalmente */
		position: relative;
		left: 200px; /* Ajuste o valor conforme necessário para mover para a direita */
	}
	/* Rodapé */
}
/* Responsivo */
#floatingButton {
    position: fixed;
    top: 80%;
    left: 67%;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 55%;
    height: 20%;
    cursor: pointer;
    z-index: 1;
}

#avatarButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Adicionado para cobrir totalmente o círculo */
}

#customForm {
    position: fixed;
    bottom: 5%;
    left: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 2, 2, 0.1);
    padding: 20px;
    width: 60%;
    max-width: 100%;
    text-align: center;
    z-index: 2;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#avatar {
    width: 80%;
    height: auto;
    max-width: 350px; /* Limitando a largura máxima para evitar esticamento */
    border-radius: 50%;
    margin-bottom: 10px;
}

